@page {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 17pt;
}

form {
  display: none;
}

.page {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
  page-break-after: always;
}

div.label {
  width: 33%;
  height: 65pt;
  float: left;
  overflow: hidden;
  text-align: center;
}

div.label:last-child, div.label:nth-child(35), div.label:nth-child(34) {
  margin-bottom: 0px;
}


.code {
  text-transform: uppercase;
}

div.label p.code {
  margin: 13pt 0 0;
}

div.label p.desc {
  color: red;
  margin: 0;
}